<div class="links">
  <%= link_to((event_path(@event)), :class => 'btn-boton') do %>
    back to event
  <% end%>
</div>

<div id="chat">
  <div id="messages" data-event-id="<%= @event.id %>">
    <% @event.messages.each do |message| %>
      <%= render "messages/message", message:message %>
    <% end %>
  </div>
  <div class="chat-input">
    <%= simple_form_for [ @event, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@event.name}" %>
    <% end %>
  </div>
</div>
