<div class="chat-header">
    <%= link_to((event_path(@event))) do %>
      <i class="fas fa-angle-left"></i>
    <% end%>
      <h2><%= @event.name %></h2>
      <div class="empty-char"></div>
</div>

<div id="chat">
  <div id="messages" data-event-id="<%= @event.id %>" data-current-user-id="<%= current_user.id %>">
    <% @event.messages.each_with_index do |message, index| %>
    <% hide_author = @event.messages[index + 1] && @event.messages[index + 1].user == message.user %>
      <%= render "messages/message", message:message, hide_author: hide_author %>
    <% end %>
  </div>
  <div class="chat-input">
    <%= simple_form_for [ @event, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@event.name}" %>
    <% end %>
  </div>
</div>
<script>document.getElementById("messages").lastElementChild.scrollIntoView();</script>
