<div class="user-form">

  <h2 class="welcome-title">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="vform-group">
    <%= f.label :email %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" } %>
  </div>

    <%= f.button :submit, "Send request", :class => 'vform-submit' %>
<% end %>

  </div>
</div>
