<% coming = Invitation.where(event_id: @event.id).accepted.size - 1 %>
<% attendees = Invitation.where(event_id: @event.id).pluck(:user_id, :status)%>
<% attendees = attendees.reject {|a| a[0] == @event.user.id } %>
  <p id="number" style="text-align: center"> <%= coming %> <%= coming !=1 ? " people are" : " person is" %> joining this event: </p>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div class="attendees">
        <% attendees.each do |attendee| %>
          <% if attendee[1] == "accepted" %>
            <div class="attending" style="background-image: url(<%= cl_image_path(User.find(attendee[0]).profile_picture.key) %>); background-size: cover">
              <p class="att-avatar"><%= User.find(attendee[0]).nickname.capitalize %></p>
            </div>
          <% end %>
        <% end %>
    </div>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapsed collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="attendees-list">
        <% attendees.each do |attendee| %>
          <% if attendee[1] == "accepted" %>
            <div class="attending" style="background-image: url(<%= cl_image_path(User.find(attendee[0]).profile_picture.key) %>); background-size: cover">
              <p class="att-avatar"><%= User.find(attendee[0]).nickname.capitalize %></p>
            </div>
          <% end %>
        <% end %>
    </div>
      </div>
    </div>
  </div>
</div>
