<div class="show-container">
  <div class="eventcards col-10">
    <div class="name"><h2><%= event.name %></h2></div>
    <div class="img"><img src="" alt="Picture Place"></div>
  </div>


  <div class="eventcards col-10">
    <h5 class="name">Date:</h5> <p><%= event.start_time.strftime("%d.%m.%Y") %></p>
    <h5 class="name">Time:</h5> <p><%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %></p>
    <h5 class="name">More about:<p><%= event.description %></p>
  </div>

  <div class="eventcards col-10">
  maps

  </div>
</div>
