<div>
  <div class="swiper-header">
      <i class="fas fa-angle-double-left"></i>
      <h2><%= title %></h2>
      <i class="fas fa-angle-double-right"></i>
  </div>

  <% events.each do |event|%>
    <% if event.start_time > Date.today %>
      <%= link_to event_path(event) do %>
        <div class="event-card">
          <p class="event-date"><%= event.start_time.strftime("%d.%m.%Y") %></p>
          <div class="event-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(event.image.key) %>);">

            <h2><%= event.name %></h2>
          </div>
          <p class="event-host"><%= event.user.nickname %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
