
 <div class="swiper mySwiper">
  <div class="links">
    <%= link_to((destroy_user_session_path), method: :delete, :class => 'btn btn-danger') do %>
      <p>Logout</p>
    <% end%>
  </div>
  <div class="links">
    <%= link_to((new_event_path), method: :get, :class => 'btn btn-primary') do %>
      <p>Create new event</p>
    <% end%>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= render "upcoming", events:@events %>
    </div>
    <div class="swiper-slide">
      <div class="container">
        <br>
        <h2 class="swiper-header">Your invitations</h2>
        <br>
        <% @invitations.each do |invitation| %>
          <%= render "invited", invitation:invitation %>
        <% end %>
      </div>
    </div>
    <div class="swiper-slide">
      <%= render 'calendar' %>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
