<%= render "show_container", event:@event %>

<% if @event.user_id == current_user.id %>
  <%= link_to(event_invitations_path(@event), method: :get, :class => 'btn btn-success') do %>
    <p>Add People</p>
  <% end %>
<% end %>


<% if @invitation && @invitation.status == "pending" %>
  <%= link_to(accept_path(@invitation), method: :patch, :class => 'btn btn-success') do %>
    <p>Accept</p>
  <% end %>
  <%= link_to(reject_path(@invitation), method: :patch, :class => 'btn btn-danger') do %>
    <p>Reject</p>
  <% end %>
<% end %>

<% if @event.end_time > Date.today %>
    <div>
      <div class="links">
        <%= link_to((event_chat_path(@event)), :class => 'btn btn-danger') do %>
          <p>CHAT</p>
        <% end%>
    </div>
<% else %>
    <div>
      <div class="links">
        <%= link_to((event_chat_path(@event)), :class => 'btn btn-success') do %>
          <p>MEDIA</p>
        <% end%>
      </div>
<% end %>

<% if @event.start_time < Date.today %>
    <div>
      <div class="links">
        <%= link_to((event_chat_path(@event)), :class => 'btn btn-danger') do %>
          <p>Upload Photos</p>
        <% end%>
    </div>
<% end %>

<div class="links">
  <%= link_to(events_path, :class => 'btn btn-primary') do %>
    <p>Dashboard</p>
  <% end%>
</div>
