<div class="event">
  <%= cl_image_tag(@event.image.key, class: "event-header") %>

  <div class="event-description">
    <h1 class="event-name"> <%= @event.name %></h1>
    <div class="event-host">
      <%= cl_image_tag(@event.user.profile_picture.key, class: "event-header") %>
      <p><%= @event.user.nickname %></p>
    </div>
    <div class="event-buttons">
      <%= link_to("chat", event_chat_path(@event), class: "nbtn in-aubergine") unless @event.start_time < Date.today %>
      <% if @event.user_id == current_user.id %>
        <%= link_to("invite", event_invitations_path(@event), method: :get, class: "nbtn n-darkgreyish")%>
      <% end %>
      <% if @invitation && @invitation.status == "pending" %>
        <%= link_to("accept", accept_path(@invitation), method: :patch, class: "nbtn btn-green") %>
        <%= link_to("reject", reject_path(@invitation), method: :patch, class: "nbtn btn-red") %>
      <% else %>
        <%= link_to("upload", new_event_upload_path(@event), class: "nbtn n-paradisio") %>
      <% end %>
    </div>

    <%= render 'events/attendees' %>
    <% if @event.start_time > Date.today %>
      <%= render 'events/event_details' %>
    <% else %>
      <%= render 'events/past_show' %>
    <% end %>

  </div>
</div>
