<!DOCTYPE html>
<html>
  <head>
    <title>Vrem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_pack_tag 'application' %>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= render 'application/favicon' %>

  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/header' unless @disable_header%>
    <%= yield %>
  </body>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->


    <script>
      var swiper = new Swiper(".verticalSwiper", {
        direction: "vertical",
        slidesPerView: 1.2,
        initialSlide: 2,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
</html>
